body {
    background-color: #00001b;
    color: #00acfc;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.game-grid {
    margin-top: 1rem;
    display: grid; 
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(7, 3.25rem);
    grid-template-rows: repeat(12, 3.25rem);
    grid-gap: 0.25rem;
    justify-content: center;
}

.stacker-square {
    border: 1px solid white;
    border-radius: 10px;
}

.square-highlight {
    background-color: white;
}